.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  grid-gap: 20px;
  background-color: #504061;
  opacity: 0.89;
  padding: 10px;
  color: white;
}

.nav-bar {
  grid-area: header;
  border: 8px dotted red;
  text-align: center;
  color: chartreuse;
  font-size: 16px;
}
.nav-bar > a:visited {
  color: white;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;

}
.item4 {
  grid-area: right;

}
.item5 {
  display: grid;
  grid-area: footer;

}

.grid-container > div {
display: flex;
justify-content: space-evenly;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#about > img {
  height: 300px;
  display: flex;
  width: 250px;
  width: 70%;
  justify-content: center;
  margin-left: 90px;

}
#text-box {
  border: dashed greenyellow 2.5px;
  color: white;
}
.cap {
  height: 200px;
  width: 250px;
}
#contact {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 50px); */

}

#contact > h2 {
  grid-column: 2/3;
}
body {
  background-image: url(./josh-tree.png);
}

.item2 > #project-list {
 
  border: 2px yellowgreen dotted;
  padding: 10px;
  list-style-type: none;

}

#email {
  height: 60px;
  width: 40px;
}

.item5 > a {
  height: 60px;
  width: 40px;
  grid-column: 2/3;
}